.containerCard {
    width: 100%;
    background-color: var(--card-color);
    border-radius: 0.4rem;
    padding: 0.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--card-letter-color);
    
}
.containerDescription{
    
}
.actionCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .3rem;
}

.buttonCardTaskDelete{
border: none;
    background-color: transparent;
    color: var(--card-letter-color);
    font-size: 30px;
}


.buttonCardTaskEdit{
border: none;
    background-color: transparent;
    color: var(--card-letter-color);
    font-size: 30px;

}

.buttonCardTaskSee{
border: none;
    background-color: transparent;
    color: var(--card-letter-color);
    font-size: 25px;

}




