.containerCard {
  background-color: var(--card-color);
  border-radius: 0.4rem;
  padding: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--card-letter-color);
  margin: 5px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.818);
  cursor: pointer;
}
.containerCard:hover {
  background-color: var(--hover-sprintTasks);
  transform: scale(1.05);
  transition: 0.4s ;
  
}
.containerDescription {
  width: 72%;
  
}
.title {
  font-weight: 600;
}
.actionCard {
  display: flex;
  flex-direction: column;
  justify-content: right;
  gap: 0.3rem;
  width: 8%;
}

.arrowIcon2 {
  position: absolute;
  bottom: 0.55rem;
  right: 1rem;
  rotate: 90deg;
  transition: rotate 0.2s ease-in;

  pointer-events: none;
}
.iconContainer {
  cursor: pointer;
}
