.containerCard {
  background-color: var(--card-color);
  border-radius: 0.4rem;
  padding: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--card-letter-color);
  margin: 5px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.818);
  cursor: pointer;
  width: 100%;
  min-height: 3rem;
}
.containerCard:hover {
  background-color: var(--hover-sprintTasks);
  transform: scale(1.05);
  transition: 0.4s;
}
.containerDescription {
  width: 80%;
}
.containerDescription b {
  font-size: 0.8rem;
}
.title {
  font-weight: 600;
}
.iconContainer {
  cursor: pointer;
}
