.containerPrincipalListTareas {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  padding: 0 20px;
  color: var(--color-letter-primary);
}

.taskColumContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 20px;
}
.titleContainer {
  position: relative;
  height: 60px;
  display: flex;
  flex-direction: column;
  border-bottom: #fff solid 7px;
  margin-bottom: 20px;
}

.buttonBackBacklogContainer {
  background-color: var(--placeholder-input-task);
  padding: .8rem;
  border-radius: 20px;
  position: absolute;
}
.buttonBackBacklog{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.buttonBackBacklogContainer button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 5px;
  color: #fff;
  cursor: pointer;
}
.buttonBackBacklogContainer button:hover p {
  text-decoration: underline;
}
.iconArrowBack {
  font-size: 1.4rem;
}
.stateTaskContainer {
  background-color: var(--primary-color);
  background: var(--primary-color);
  color: var(--color-letter-primary);
  margin: 0.5em;
  padding: 10px;
  border-radius: 8px;
}
