.tasks {
  background: var(--primary-color);
  color: var(--color-letter-primary);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0.5em;
}
.containerSearchButton {
  display: flex;
  justify-content: space-around;
}
.tittleTasks {
  display: flex;
  align-self: center;
  margin-bottom: 10px;
}
.addTask {
  font-size: 120%;
  border-radius: 40px;
  background-color: transparent;
  color: var(--color-letter-primary);
  border: 1px white solid;
  box-shadow: 1px 1px 5px white;
  padding: 10px;
  cursor: pointer;
}
.addTask:hover {
  background-color: var(--hover-addTask);
}

.tasksContainer {
  max-height: 52vh;
  width: 92%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  margin-top: 10px;
  gap: 15px;
  border-radius: 8px;
  background: var(--primary-color);
}

.tasksContainer::-webkit-scrollbar {
  width: 8px;
}

.tasksContainer::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.tasksContainer::-webkit-scrollbar-track {
  background: transparent;
}
