.containerPrincipalModal{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    backdrop-filter: brightness(90%) blur(2px);
}

.contentPopUp{
    background-color: var(--primary-color);
    box-shadow: 5px 2px 10px #585858;
    width: 35vw;
    padding: 1rem;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
}

.formContent{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}

.formContent input, textarea{
    width: 100%;
    padding: 0.3rem;
    resize: none;
    margin: 0.4rem 0;
}

.buttonCard{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.InputContainer {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    background: linear-gradient(to bottom,var(--background-inputs-task-color-one),var(--background-inputs-task-color-two));
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
  }
  
.input {
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    caret-color: var(--color-letter-primary);
    background-color: var(--input-task);
    border-radius: 30px;
    padding-left: 15px;
    letter-spacing: 0.8px;
    color: var(--color-letter-primary);
    font-size: 13.4px;
}
.input::placeholder{
    color: var(--placeholder-input-task);
}
.buttonModalTask{
    font-size: 120%;    
    border-radius: 40px ;
    background-color: transparent;
    color: var(--color-letter-primary);
    border: 1px white solid;
    box-shadow: 1px 1px 5px white;
    padding: 10px;
}
.buttonModalTask:hover{
    background-color: var(--hover-addTask);
}