.containerPrincipalListTareas{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
    gap: 20px;
}

.titleBackLog{
    margin-top: 10px;
    grid-column: span 2;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 2em;
    font-weight: bold;
    border-radius: 8px;
}
