:root {
  /*Colors*/
  --primary-color: #f96930;
  --color-letter-primary: white;
  --card-color: white;
  --card-letter-color: black;
  --hover-addTask: #fdb49780;
  --input-task: #fa926980;
  --background-inputs-task-color-one: #f1875d86;
  --background-inputs-task-color-two: #f99b767b;
  --placeholder-input-task: #fecdba;

  /*Font Family*/
  --font-family-primary: "Inter", sans-serif;
}
* {
  padding: 0%;
  margin: 0%;
}

body {
  font-family: var(--font-family-primary);
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
